# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
ENV/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*

# -------------------------
# VS Code / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Streamlit
# -------------------------
.streamlit/


# -------------------------
# Ollama (VERY IMPORTANT)
# -------------------------
# Do NOT include local models
# They are huge (GBs)
ollama/
*.bin
*.gguf

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.temp